{
  "presets": ["env"],
  "plugins": [
    "transform-object-assign",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-runtime",
    "syntax-dynamic-import",
  ]
}
